RESTAssuredAutomation/src/main/resources/ListOfContinentsByName.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.oorsprong.org/websamples.countryinfo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:import 	namespace="http://schemas.xmlsoap.org/soap/envelope/" 
  			schemaLocation="http://schemas.xmlsoap.org/soap/envelope/"/>
  				
    <xs:element name="ListOfContinentsByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ListOfContinentsByNameResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="tContinent" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="sCode"/>
                    <xs:element type="xs:string" name="sName"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>